/* poppins-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v22-latin-regular.woff2') format('woff2');
}

/* poppins-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v22-latin-500.woff2') format('woff2');
}

/* poppins-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v22-latin-600.woff2') format('woff2');
}

/* poppins-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v22-latin-700.woff2') format('woff2');
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 4%;
    background-color: #ffffff;
}

img {
    display: flex;
    object-fit: cover;
}

.container {
    width: 100%;
    max-width: 1221px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.orange-text {
    color: #ff902b;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
}

/* HEADER START */

.header {
    background-image: url('../image/bg_img_hero_top.png'), url('../image/bg_img_hero_bottom.png');
    background-repeat: no-repeat;
    background-position: top right, left bottom;
    background-color: #F6EBDA;
    padding-bottom: 396px;
}

/* .header-container {} */

.header-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 82px;
    padding-top: 36px;
    padding-bottom: 36px;
}

/* .site-logo {} */

/* .sitenav {} */

.sitenav-list {
    display: flex;
    align-items: center;
    gap: 32px;
}

/* .sitenav-item {} */

.sitenav-link {

    color: #000000;
}

.sitenav-link:hover {
    color: #ff902b;
}

.header-nav-container-actions {
    display: flex;
    align-items: center;
    gap: 24px;
}

.global-search {
    box-shadow: 6px 2px 24px 0px #00000021;
    border-radius: 35px;
}

.global-search-input {
    padding: 10px 12px 10px 40px;
    background-image: url('../image/search-icon.svg');
    background-repeat: no-repeat;
    background-size: 19px 19px;
    background-position: center left 14px;
    border-radius: 35px;
    border: 0;
}

.global-search-input:focus {
    outline: none;
}

/* HEADER HERO */
.header-hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-hero-dec {
    width: 100%;
    max-width: 489px;
}

.header-hero-dec-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #000000;
    margin-bottom: 24px;
}

.header-hero-dec-caption {
    width: 100%;
    max-width: 393px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #7E7D7A;
    margin-bottom: 32px;
}

.header-hero-link-box {
    display: flex;
    align-items: center;
    gap: 26px;
}

.header-hero-link-order {
    background-color: #2F2105;
    border-radius: 33px;
    color: #ffffff;
    gap: 10px;

    &:hover {
        opacity: 0.7;
    }
}

.header-hero-link-menu {
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #F4AE26;

    &:hover {
        color: #2F2105;
    }
}

/* .hero-image {} */

/* HEADER END */

/* MAIN START */

/* POPULAR NOW */
/* .popular-now {} */

.popular-now-container {
    background-image: url('../image/popular-now-bg-image.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin-top: -300px;
    margin-bottom: 120px;
}

/* .popular-now_title_box {} */

.popular-now_title {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 4%;
    margin-bottom: 38px;
}

.orange-line {
    border-bottom: 4px solid orange;
}

/* .popular-now_box {} */

.popular-now-list {
    display: flex;
    gap: 38px;
}

.popular-now-list-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 343px;
    border-radius: 12px;
    padding: 24px 18px;
    margin-bottom: 87px;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid rgba(236, 230, 230, 0.7);
}

.popular-now-reating {
    position: absolute;
    background-color: #fff;
    border: 4px solid rgba(236, 230, 230, 0.7);
    border-radius: 50px;
    padding: 10px;
    gap: 4px;
    margin-left: 10px;
    margin-top: 10px;
}

.popular-list-item-image {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 19px;
}

.popular-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular-body-title-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.popular-body-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #000000;
}

.popular-body-ordered {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 4%;
}

.popular-body-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-body-orders {
    display: flex;
    gap: 24px;
}

.popular-orders-hot {
    border-radius: 8px;
    gap: 10px;
    border: 2px solid #FFD28F;
    padding: 10px;
    color: #FFD28F;
}

.popular-orders-cold {
    border-radius: 8px;
    gap: 10px;
    border: 2px solid #FFD28F;
    padding: 10px;
    color: #FFD28F;
}

.popular-orders-cold:hover,
.popular-orders-hot:hover {
    color: #ff902b;
    border-color: #ff902b;
}

/* SERVISE */
.servise {
    margin-bottom: 189px;
}

/* .servise-container {} */

.servose-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #000000;
    margin-bottom: 32px;
}

.servise-list {
    display: flex;
    justify-content: space-between;
}

.servide-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 24px;
    gap: 17px;
}

.servise-list-item-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #000000;
}

.servise-list-item-caption {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #000000;
}

/* ABOUT US */
.about-us {
    width: 100%;
    height: 484px;
    background-image: url('../image/about-us-bg-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 120px;
}

.about-us-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-us-image {
    position: relative;
    bottom: 69px;
    margin-left: 107px;
    width: 359.13px;
    height: 497.66px;
    box-shadow: 0px 6px 16px 0px #00000029;
    border-radius: 12px;
}

.about-us-content {
    width: 100%;
    max-width: 478px;
}

.about-us-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #000000;
    margin-bottom: 23px;
}

.about-us-subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #000000;
    margin-bottom: 15px;
}

.about-us-caption {
    color: #7E7D7A;
    margin-bottom: 31px;
}

.about-us-link {
    border-radius: 33px;
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;
    gap: 10px;
    background-color: #2F2105;

    /* text */
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #F4AE26;

    &:hover {
        opacity: 0.7;
    }
}

/* PRODUCT MENU */
.special-menu {
    margin-bottom: 120px;
}

/* .special-menu-container {} */

.special-menu-container-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #000000;
    margin-bottom: 31px;
}

.special-menu-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.special-menu-card-product {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 356px;
    padding: 24px 18px;
    box-shadow: 0px 6px 16px 0px #00000029;
    border-radius: 12px;
    border: 6px solid linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);

}

.special-menu-card-product-image {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 19px;
}

.special-menu-card-product-reating {
    position: absolute;
    background-color: #fff;
    border: 4px solid rgba(236, 230, 230, 0.7);
    border-radius: 50px;
    padding: 10px;
    gap: 4px;
    margin-left: 10px;
    margin-top: 10px;
}

.product-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
}

.product-body-title-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.product-body-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #000000;
}

.product-body-ordered {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 4%;
}

.popular-body-caption {
    width: 100%;
    max-width: 161.45px;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #7E7D7A;
}

.product-body-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SAY ABOUT */
.say-about {
    background-image: url('../image/say-about-bg-image.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 945px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    margin-bottom: 120px;
}

.say-about-container {
    display: flex;
    align-items: center;
}

.text-content {
    width: 100%;
    max-width: 413px;
    margin-right: 60px;
    margin-top: 170px;
    margin-bottom: 170px;
}

.text-content-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 4%;
    margin-bottom: 16px;
}

.text-content-caption {
    width: 100%;
    max-width: 352px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #7E7D7A;
}

.image-content {
    display: flex;
    align-items: center;
    position: absolute;
    right: 23px;
}

.image-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 851.25px;
}

.image-content-wrapper-item {
    margin-right: 93px;
    position: relative;
}

.image-content-wrapper-item-caption {
    width: 100%;
    max-width: 226.38px;
    position: absolute;
    left: 30.58px;
    bottom: 22px;
    background-color: #FFCB7C;
    border: 6px solid rgba(255, 211, 144, 0.62);
    border-radius: 8px;
}

.wrapper-item-caption-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 4%;
}

.wrapper-item-caption-about {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 4%;
}

/* MAIN END */

/* FOOTER START */

/* .footer {} */

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 392px;
    background-image: url('../image/footer-bg-image.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 120px;
}

.footer-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #ffffff;
    margin-bottom: 26px;
}

.footer-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    max-width: 486px;
    padding-left: 24px;
    border-radius: 42px;
}

.footer-form-email {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 4%;
    background-color: transparent;
    border: none;
    color: #7E7D7A;
}

.footer-form-email:focus {
    outline: none;
}

.footer-form-submit {
    border-radius: 33px;
    gap: 10px;
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-left: 32px;
    background-color: #2F2105;
    box-shadow: 0px 4px 32px 0px #DFC37C40;
    border: 5px solid #ffffff;
    color: #fff;

    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.footer-form-submit:hover {
    opacity: 0.7;
}